#warp {
  background-color: aqua;
  width: 400px;
  height: 20px;
}
.warp {
  width: 400px;
  height: 500px;
  background-color: black;
}
#warp {
  border-style: soild;
}
body {
  background: url("../../image/01.png");
}
#warp {
  background: red;
}
#main {
  width: 200px;
  height: 300px;
  border: 1px solid black;
}
#warp {
  width: 280px;
  height: 200px;
  margin: 1400px;
  color: #444444;
  background-color: #333333;
}
#warp {
  width: 9%;
}
#warp::after {
  content: 'fond';
}
